.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.photo{
    margin-right: 1rem;
}
.text{
    margin-right: 31rem;
    text-align: center;
}

.header {
    height: 100%;
    position: sticky;
    background: #FFC4BC;
    border: 1px solid;
    border-radius: 18px;
    grid-area: header;
    background-image: linear-gradient(312.25deg, #FFC4BC 0%, rgba(255, 255, 255, 0) 66.19%);
}



