.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.photo{
    margin-right: 1rem;
}
.text{
    margin-right: 31rem;
    text-align: center;
}
h1{
    color: white;
}
.header {
    height: 100%;
    position: sticky;
    background: white;
    border: 1px solid;
    border-radius: 18px;
    grid-area: header;
    background:#002a38;
}



