.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10rem;
}
.photo{
    margin-right: 1rem;

}
.text{
    margin-right: 1rem;
    text-align: center;
}
h1{
    color: white;
}
.header {
    height: 100%;
    position: sticky;
    background: #0d1a5e;
    grid-area: header;
}



