.logo {
    display: flex;
    align-items: center;
}

.photo1 {
    overflow: hidden;
    position: absolute;
    z-index: -1;
    bottom: -1;
    right: 0;
    transform: rotate(-20deg);
    overflow: hidden;
    width: 80%;
}

.text {
    font-size: 10px;
    text-align: center;
}

h1 {
    font-size: 10px;
    color: white;
}

.header {
    background-color: #273878;
    background-size: 100% 100%;
    background-position: center center;
    position: sticky;
    grid-area: header;
    z-index: 999;
}


.name {
    justify-content: center;
}

.text {
    font-size: 43px;
}