.header {
    background-color: #273878;
    background-size: 100%;
    background-position: center;
    position: sticky;
    grid-area: header;
    z-index: 999;
}
.toggle {
    font-size: 25px;
  }
  
.logo {
    display: flex;
    align-items: center;
}

.photo1 {
    overflow: hidden;
    position: absolute;
    z-index: -1;
    bottom: -1;
    right: 0;
    transform: rotate(-20deg);
    overflow: hidden;
    width: 80%;
}


h1 {
    // font-size: 10px;
    color: white;
}




.name {
    justify-content: center;
}

.text {
    text-align: center;
    font-size: 43px;
}

button {
    background-color: #273878;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
}
button:hover {
    background-color: rgba(161, 160, 160, 0.5);
}

