.block {
    margin-right: 10rem;
}

.wrapper {
    background: #273878;
    grid-area: information;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.links {
    display: flex;
    flex-direction: column;
    color: #4dbcfd;
    p {
        color: white;
    }
}

h4 {
    color: white;
}

.number {
    margin-left: 25rem;
    float: right;
    color: white;
}

.link:hover {
    color: lighten($color: #4dbcfd, $amount: 40);
}

h4:hover {
    color: lighten($color: #4dbcfd, $amount: 20);
}