.wrapper {
    font-size: 20px;
    background: #232244;
    grid-area: information;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    bottom: 0;
    justify-content: space-between;
}

.links {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #4dbcfd;
    p {
        color: white;
    }
    margin-bottom: 1rem;
}

h4 {
    color: white;
}
.content{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    h4{
        font-size: 22px;
    }
}
.social{
    flex: 1;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}

.link:hover {
    color: lighten($color: #4dbcfd, $amount: 40);
}

h4:hover {
    color: lighten($color: #4dbcfd, $amount: 20);
}