.block {
    margin-right: 10rem;
    border-right: 1px solid #4dbcfd;
    padding-right: 2rem;
}

.wrapper {
    background: #273878;
    grid-area: information;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-top:auto;
}

.links {
    display: flex;
    flex-direction: column;
    color: #4dbcfd;
    p {
        color: white;
    }
}

h4 {
    color: white;
}
.content{
    border-right: 1px solid white;
    padding-right: 9rem;
}
.number {
    margin-left: 25rem;
    float: right;
    color: white;
    cursor: default;
}

.link:hover {
    color: lighten($color: #4dbcfd, $amount: 40);
}

h4:hover {
    color: lighten($color: #4dbcfd, $amount: 20);
}