.content{
    grid-area: content;
}

.styles{
    p{
        text-align: center;
        justify-content: center;
        font-size: 17px;
    }
    
    h4{        
        text-align: center;
    }
}



