.imgList {
    height: 100%;
    position: relative;
}

.leftIcon {
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 50%;
    transform: 'translate(0, -50%)';
    left: 2rem;
    z-index: 1;
    cursor: pointer;
}

.rightIcon {
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 50%;
    transform: 'translate(0, -50%)';
    right: 2rem;
    z-index: 1;
    cursor: pointer;
}

img {
    max-height: 500px;
    width: auto;
    height: auto;
}


.notificationData {
    h1 {
        color: black;
    }
}


.leftIcon,
.rightIcon {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}


.notification {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    overflow: hidden;
}



.notificationDetails {
    padding: 1rem;
}

.notificationDetails h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.notificationDetails p {
    margin-top: 0;
}