.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19.5rem;
    height: 19.5rem;
    margin: 0 auto;
    display: block;
    cursor: default;
}

.photoW {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21rem;
    height: 24rem;
    padding: 1rem;
    margin: 0 auto;
    display: block;
    cursor: default;
}



.styles {
    h3 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    p {
        padding: 1rem;
        line-height: 1.5rem;
    }

    h4 {
        color: black;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.7rem;
    }
}

.visionary {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 2rem;
    font-size: 16px;
    padding: 1rem;
    line-height: 2.3rem;
}

.links {
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.links:hover {
    color: lighten($color: #7d9fe8, $amount: 1)
}

.links:active {
    color: darken($color: #021a48, $amount: 10)
}




.nusWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "t l";
    grid-gap: 1rem;
}



.link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    margin-left: 3rem;
    grid-area: l;
    color: #7d9fe8;
    text-align: justify;

    h3 {
        margin-top: 2.8rem;
        color: black;
        font-size: 30px;
    }

    a {
        &:hover {
            color: lighten($color: #021a48, $amount: 1)
        }

        &:active {
            color: darken($color: #021a48, $amount: 10)
        }
    }
}

@media (max-width: 768px) {
    .nusWrapper {
        grid-template-columns: 1fr;
        grid-template-areas: "t""l";
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    height: 40rem;
    align-items: flex-start;
}

.line {
    grid-column: 1 / -1;
    height: 2px;
    width: 100%;
    background-color: black;
}

.components {
    display: grid;
    grid-template-columns: 1fr;
    text-align: justify;
    padding: 0.5rem;
    margin-bottom: 1rem;

    h3 {
        text-align: center;
    }
}

.components ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.components li {
    font-size: 21px;
    margin-bottom: 0;
    padding: 0.5rem;
    line-height: 1rem;
}



.comp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5rem;

    img {
        width: 20rem;
    }
}




.line {
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.text {
    margin-left: 3rem;
    font-size: 21px;
    width: 100%;
    height: 100%;
    justify-content: center;

    h3 {
        text-align: center;
    }

    height: auto;
}

.idk {
    width: 100%;
    height: 10rem;
    line-height: 2rem;
    text-align: justify;
    margin-bottom: 11rem;

    p {
        font-size: 21px;

    }
}

.teachers {
    display: flex;
    flex-direction: column;
    align-items: center;

    .teachersCard {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        max-width: 1000px;

        .teacherCard {
            box-sizing: border-box;
            border: 1px solid black;
            border-radius: 1rem;
            padding: 10px;
            width: calc(33.33% - 20px);
            flex-grow: 1;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 0.9;

            img {
                height: auto;
                width: 100%;
            }

        }
    }
}


.admnistration {
    padding: 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admnistrationColumn {
    @media (max-width: 768px) {
        width: 100%;
    }

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}

.admnistrationCard {
    margin-bottom: 1rem;
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;

    .description {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vw;
        height: 100%;
        padding: 1rem;
        box-sizing: border-box;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    p,
    span {
        font-size: 25px;
        flex-grow: 1;
        text-align: center;
    }

    img {
        margin-left: auto;
        width: auto;
        height: 100%;
        object-fit: cover;
    }

    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}