.photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    // text-indent: 1;
    justify-content: center;
}

.styles {
    h3 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    p {
        // text-indent: 1;
        padding: 1rem;
        line-height: 1.5rem;
    }

    h4 {
        color: black;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.7rem;
    }
}

.visionary {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 2rem;
    font-size: 16px;
    padding: 1rem;
    line-height: 2.3rem;
}

.links {
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.links:hover {
    color: lighten($color: #7d9fe8, $amount: 1)
}

.links:active {
    color: darken($color: #021a48, $amount: 10)
}




.nusWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "t l";
    grid-gap: 1rem;
}

.text {
    margin-left: 3rem;
    grid-area: t;
}

.photo {
    width: 19.5rem;
    height: 19.5rem;
    margin: 0 auto;
    display: block;
    cursor: default;
}

.link {
    margin-top: 1rem;
    margin-left: 3rem;
    grid-area: l;
    color: #7d9fe8;
    display: flex;
    flex-direction: column;

    h3 {
        color: black;
        font-size: 30px;
    }

    a {
        &:hover {
            color: lighten($color: #021a48, $amount: 1)
        }

        &:active {
            color: darken($color: #021a48, $amount: 10)
        }
    }
}

@media (max-width: 768px) {
    .nusWrapper {
        grid-template-columns: 1fr;
        grid-template-areas: "t""l";
    }
}

.components {
    border: 0.1px solid;
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    li {
        padding: 0.5rem;
    }

    h3 {
        text-align: center;
    }

    ul {
        margin: 0.5rem 0 1rem 0;
        column-count: 2;
        column-gap: 20px;
    }

    .line {
        border-bottom: 1px solid #ccc;
    }
}


.teachers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;
    .teacherCard {
        border: 1px solid #1e1b1b;
        padding: 1rem;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        width: auto;
        height: 24rem;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-left: 1rem;
        &:hover {
            color: darken($color: #000000, $amount: 90);
        }
        img{
            height: 23rem;
        }
        span {
            font-size: 1.5rem;
            // margin-left: 1rem;
        }
    }
}