.time {
    margin-left: 15rem;
}

.subject {
    margin-right: 15rem;

}

.wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.01rem solid black;
    padding: 10px 0;
}

.container {
    margin-top: 2rem;
    margin-right: 40rem;
}


.dropdown {
    width: 2rem;
    /* встановлюємо ширину списку на 300 пікселів */

}

.dropdown-menu {
    scroll-behavior: smooth;
}