body {
  background: #d8d8d8;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.05rem;
  
}

.wrapper {
  border: 0.1rem solid;
  border-radius: 1.4rem;
  width: 80rem;
  background-color: rgb(247, 242, 242);
  display: grid;
  grid-template-rows: 1.2fr auto 1fr;
  grid-template-areas: 
  "header"
  "content"
  "information";
}
.app-wrapper-content {
  grid-area: content;
}


/* Style the dropdown button */
.dropbtn {
  cursor: pointer;
  background: #002a38;
  color: white;
  padding: 1rem;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
 
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  left: 50%;
  transform: translateX(-50%);
  display: none;
  position: absolute;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: lightblue;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: lighten($color: #002a38, $amount: 10);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}