body {
  background: #d8d8d8;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.05rem;

}

.NotificationData {
  height: 20rem;
  overflow: auto;
  margin-right: 0.1rem;
  margin-bottom: 30px;
  grid-area: notifications;
  border: 1px solid;
  border-radius: 18px;
  h1{
    color:  black;
  }
}

.wrapper {
  border: 0.1rem solid;
  border-radius: 1.4rem;
  width: 85rem;
  background-color: rgb(247, 242, 242);
  display: grid;
  grid-template-rows: 1.2fr auto 1fr;
  grid-template-columns: 10fr 5fr;
  grid-template-areas:
    "header header"
    "content notifications"
    "information information";
}

.app-wrapper-content {
  grid-area: content;
  width: 100%;
  height: 100%;
}


/* Style the dropdown button */
.dropbtn {
  cursor: pointer;
  background: #002a38;
  color: white;
  padding: 1rem;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  left: 50%;
  transform: translateX(-50%);
  display: none;
  position: absolute;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: lightblue;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: lighten($color: #002a38, $amount: 10);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}