@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body {
  height: auto;
  width: auto;
  background: #ffc5bd;
  display: flex;
  justify-content: center;
  margin: 0;
  text-align: center;
}

* {
  font-family: 'Kelly Slab', cursive;
}


.NotificationData {
  h1{
    cursor:default;
  }
  background-color: white;
  height: fit-content;
  overflow: auto;
  width: 100%;
  grid-area: notifications;
  border: 1px solid;
  h1 {
    color: black;
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #ffc5bd;
  display: grid;
  grid-template-rows: 0.9fr auto 0.7fr;
  grid-template-columns: 10fr 4fr;
  grid-template-areas:
    "header header"
    "content notifications"
    "information information";
}

.app-wrapper-content {
  grid-area: content;
  width: 100%;
  height: 100%;
}


/* Style the dropdown button */
.dropbtn {
  cursor: pointer;
  background: #273878;
  color: white;
  padding: 1rem;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.schedule {
  z-index: 1;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: absolute;
  height: 100%;
  overflow: auto;
  height: 20rem;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 9999;
}
.dropdown:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4), 0 0 20px rgba(0, 0, 0, 0.4);

}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: lightblue;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: lighten($color: #002a38, $amount: 10);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
}