@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');
body {
  height: auto;
  width: auto;
  background: #ffffff;
  display: flex;
  justify-content: center;
  margin: 0;
  text-align: center;
}

* {
  font-size: 21px;
  font-family: 'EB Garamond', serif;
}




.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 0.7fr 2.65fr;
  grid-template-areas:
    "header"
    "content"
}

.app-wrapper-content {
  grid-area: content;
}


/* Style the dropdown button */
.dropbtn {
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  // background: #0d1a5e;
  color: white;
  padding: 1rem;
  font-size: 20px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.schedule {
  z-index: 1;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: absolute;
  height: 100%;
  overflow: auto;
  height: 20rem;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 9999;
}

.dropdown:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4), 0 0 20px rgba(0, 0, 0, 0.4);

}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: lightblue;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: lighten($color: #002a38, $amount: 10);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
}


