@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');

body {
  background: #ffffff;
  margin: 0;
  text-align: center;
}

* {
  font-family: 'EB Garamond', serif;
  font-size: 21px;
}

.small-font {
  font-size: 20px;
}

.large-font {
  font-size: 30px;
}
.swiper-slide {
  box-sizing: border-box;
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 2s; // Змініть тривалість анімації за необхідності
  position: relative;
}

.swiper-slide-next,
.swiper-slide-prev {
  transition-duration: 2; // Змініть тривалість анімації за необхідності
}

.swiper-slide-active {
  transition-duration: 2s; // Змініть тривалість анімації за необхідності
}

.swiper-slide img {
  object-fit: fill;
  width: 100%;
  max-height: 100vh;
  max-height: 100%;
  transition: transform 0.3s ease-in-out;
}

.wrapper {
  display: grid;
  grid-template-rows: 0.7fr auto 0.7fr;
  grid-template-areas:
    "header"
    "content"
    "information";
  min-height: 100vh;
}

.app-wrapper-content {
  grid-area: content;
  margin-bottom: 0;
}


/* Style the dropdown button */
.dropbtn {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 1rem;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  padding: 0.1rem;
  position: relative;
  display: inline-block;
}

.schedule {
  z-index: 1;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  color: white;
  position: absolute;
  height: 100%;
  overflow: auto;
  height: 20rem;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 9999;
}

.dropdown:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4), 0 0 20px rgba(0, 0, 0, 0.4);
}

/* Links inside the dropdown */
.dropdown-content a {
  border: solid 1px white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #273878;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: lighten($color: rgb(161, 160, 160), $amount:1);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

@media only screen and (max-width: 500px) {
  .app {
    display: flex;
    flex-direction: column;
  }
}